*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #d1dee4;
    color:#17282f; 
    font-family: georgia, serif;
    margin: 0;
}
/**** Header ****/
header{
    width: 100%;
    color: #d6d7ff;
    position: relative;
    /*I got this code online*/
    background:
        radial-gradient(rgba(100, 100, 100, 0.1) 3px, transparent 4px),
        radial-gradient(rgba(100, 100, 100, 0.1) 3px, transparent 4px),
        linear-gradient(#396172 4px, transparent 0),
        linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a44a 75px, #a4a4a44a 76px, transparent 77px, transparent 109px),
        linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a44a 76px, #a4a4a44a 77px, transparent 78px, transparent 109px),
        #396172;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    /**/
}
nav{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3em;
    align-items: center;
}
.nav_buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1em;
}
.nav_button{
    text-decoration: none;
    color: #d6d7ff;
    border-radius: 15px;
    padding: 1em;
    transition-duration: 0.3s;
    font-size: 22px;

    display: flex;
    flex-direction: row;
    align-items: center;
}
.nav_button:hover{
    background-color: #a4c0cc;
    color:#1C0740; 
    font-size: 24px;
    transition-duration: 0.3s;
}
.nav_image{
    display: block;
    height: 100vh;
    max-width: 100%;
    opacity: 0.08;
    margin: auto;
}

/**** Main ****/
main{
    margin-top: 2em;
}
#top_main{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2em;
}

.top_header{
    text-align: center;
    font-size: 4em;
}

/**** Main Content ****/
.text_box{
    width: 75%;
    margin: auto;
    font-size: 24px;
    background-color: #39617223;
    box-shadow: 0 0 5px 10px #39617223;
    border-radius: 15px;
    padding-left: 1em;
    padding-right: 1em;
}
.text_section{
    margin-top: 2em;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    flex-direction: column;
    gap: 3em;
    width: 100%;
}
.quote{
    font-style: italic;
}
.quote span{
    font-size: .75em;
    font-style: none;
}

.media_section{
    width: 70%;
}
#portrait img{
    width: 100%;
    height: auto;
}
#portrait{
    float: left;
    margin: 1em;
    padding: 0;
    width: 100%;
    box-shadow: 0 0 4px 8px #39617288;
}

/****Footer****/
footer{    
    width: 100%;
    height: 100px;
    color: #d6d7ff;
    margin-top: 3em;
    background:
        radial-gradient(rgba(100, 100, 100, 0.1) 3px, transparent 4px),
        radial-gradient(rgba(100, 100, 100, 0.1) 3px, transparent 4px),
        linear-gradient(#396172 4px, transparent 0),
        linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a44a 75px, #a4a4a44a 76px, transparent 77px, transparent 109px),
        linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a44a 76px, #a4a4a44a 77px, transparent 78px, transparent 109px),
        #396172;
    background-size: 109px 109px, 109px 109px,100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
footer a{
    text-decoration: none;
    color: inherit;
    font-size: 16px;
    transition-duration: 0.2s;
}
footer div{
    margin-left: 3em;
    margin-right: 3em;
}
.social_link{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1em;
}
.personal_link a{
    text-align: left;
    font-size: 20px;
}
footer img{
    height: 60px;
    width: auto;
}
footer a:hover{
    transition-duration: 0.2s;
    transform: scale(1.05);
}

/****For smaller desktop viewing****/
@media(max-width: 800px){
    .media_section{
        width: 80%;
    }
    #portrait{
        margin: 0;
    }
}

/****For Mobile Size****/
@media(max-width: 550px){
    #top_main{
        flex-direction: column;
    }
    nav{
        justify-content: space-around;
    }
    .nav_buttons{
        flex-direction: column;
        gap: 1em;
    }
    .nav_button{
        font-size: 32px;
        background-color: #a4c0cc;
        color:#1C0740;
        box-shadow: 0 0 3px 3px #30515f;
    }
    .nav_button:hover{
        font-size: 34px;
    }
    .personal_link{
        margin: 0;
    }
    footer{
        flex-direction: column;
        justify-content: center;
    }
    footer img{
        height: 40px;
    }
}